* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont;
  background: skyblue;
  color: gray;
  line-height: 1.5;
  font-size: 0.875rem;
}
.container {
  width: 50vw;
  margin: auto;

  max-height: fit-content;
  background-color: white;
  border-radius: 7px;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.section {
  width: 90vw;

  margin: 0 auto;
}

.container button {
  color: white;
  display: block;

  width: 90%;
  border-color: transparent;
  background: orange;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  outline: 1px solid rgba(242, 138, 178, 0.8);
  cursor: pointer;
}
.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.person h4 {
  margin-bottom: 0.35rem;
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: grey;
}
